
.wise2{
    width: 100%
     }


.video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 12px;
}

.video-preview{
    width: 300px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
}
.wise0{
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 40px;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.wise00{
    margin-bottom: 12px;
}
.video-author,video-stats{
    font-size: 14;
    color: rgb(96,96,96);
}
.video-author{
    margin-bottom: 4px;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}